/* client/src/App.css */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: #efefef;
  --bg-sidebar: #f7f7f9;
  --bg-chat-bubble: #f1f0f0;
  --text-primary: #1a1a1a;
  --text-secondary: #4a4063;
  --border-color: #e0e0e0;
  --card-title-bg: #e6e0f0;

  --input-button-bg: #c69ff9e6;

  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #c1c1c1;

  --event-dot-color: #525217;

  --new-color-botton-bg: #303030;

  --box-shadow-color: rgba(0, 0, 0, 0.3);
}

.dark {
  --bg-primary: #181818;
  --bg-secondary: hsl(0, 0%, 17%);
  --bg-sidebar: hsla(0, 0%, 10%);
  --bg-chat-bubble: #333333;
  --text-primary: #f0f0f0;
  --text-secondary: hsl(0, 0%, 100%);
  --border-color: hsla(0, 0%, 27%, 0.369);
  --card-title-bg: #382059;

  --input-button-bg: #553b7a;

  --scrollbar-track: hsl(0, 0%, 6%);
  --scrollbar-thumb: #555555;

  --event-dot-color: #F9FA76;

  --new-color-botton-bg: #8e8e8e;

  --box-shadow-color: rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* --- Coluna de Projetos --- */
.project-list-container {
  flex: 0.2;
  padding: 2rem;
  border-right: 1px solid var(--border-color);
}

.project-list-container h2 {
  margin-top: 0;
}

.project-list-container ul {
  list-style: none;
  padding: 0;
}

.project-list-container li {
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 6px;
}

.project-list-container li:hover {
  background-color: #e9ecef;
}

/* --- Coluna do Chat --- */
.chat-window-container {
  flex: 1;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.chat-window-container h2 {
  margin-top: 0;
}

.messages-area {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: auto;

  min-height: 0;

  display: flex;
  flex-direction: column;


  color: var(--text-primary);
}

.input-area {
  margin-top: 1rem;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0.5rem;
}

.input-area input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;

  color: var(--text-primary);
}

.input-area button {
  border: none;
  background-color: var(--input-button-bg);
  color: var(--bg-primary);
  border-radius: 6px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 1.2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-area button :hover {
  opacity: 0.7;
}

.send-button-img {
  width: 20x;
  height: 20px;

  object-fit: contain;
}

/* --- Coluna do Calendário --- */
.calendar-view-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40vh;

  padding: 1rem;
  display: flex;
  flex-direction: column;

  color: var(--text-primary);
}


.calendar-wrapper {
  flex-grow: 0;
  position: relative;

}

/* --- Estilos para o React Big Calendar --- */
.rbc-toolbar button {
  background-color: var(--bg-primary);
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;

}

.rbc-toolbar button:hover {
  background-color: var(--bg-secondary);
}

.rbc-toolbar .rbc-active {
  background-color: var(--bg-secondary);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.CalendarComponent.react-calendar {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: var(--scrollbar-thumb) 2px solid;
  border-radius: 8px;
  font-family: inherit;
}

.react-calendar__navigation button {
  color: var(--text-primary);
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--bg-sidebar);
}

.react-calendar__month-view__weekdays {
  color: var(--text-primary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  cursor: default;
}

.react-calendar__tile {
  color: var(--text-primary);
  background: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--bg-sidebar);
  color: var(--text-primary);
  border-radius: 6px;
}

.react-calendar__tile--active {
  background: var(--input-button-bg) !important;
  color: var(--bg-primary) !important;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #cf50f2 !important;

  color: #1a1a1a !important;

  border-radius: 6px;
  font-weight: bold;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: hsla(287, 86%, 63%, 0.67) !important;
  color: #1a1a1a !important;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background: var(--input-button-bg) !important;
  color: #ffffff !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.35;
}

.event-dot {
  height: 8px;
  width: 8px;
  background-color: var(--event-dot-color);
  border-radius: 50%;
  margin: 2px auto 0;
}

.message {
  padding: 0.8rem 1rem;
  border-radius: 18px;
  max-width: 80%;
  margin-bottom: 0.5rem;
  line-height: 1.4;

  color: var(--text-primary);
}

.ai-message {
  background-color: var(--bg-chat-bubble);
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}

.user-message {
  background-color: var(--input-button-bg);
  align-self: flex-end;
  border-bottom-right-radius: 4px;

  transition: all 0.2s ease-in-out;
}

/*Novo =========================== */

.App-Wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--bg-primary);

  transition: all 0.2s ease-in-out;
}

.Main-Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.App-Container {
  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
  padding: 24px;
  gap: 20px;
  flex: 1;

  min-height: 0;
}

.messages-area::-webkit-scrollbar {
  width: 10px;
}

.messages-area::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

.messages-area::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track);
}

.messages-area::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.invert {
  filter: invert(1);
}

.google-login-button {
  background-image: linear-gradient(45deg, #cf50f2, #b180f3);
  color: #ffffff;
  border: none;

  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 520;
  cursor: pointer;
  margin-top: 1rem;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.google-login-button:hover {
  opacity: 0.8;
}

.empty-chat-container {
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 8rem 2rem 2rem 2rem;
  color: var(--text-primary);
}

.empty-chat-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  width: 100%;
  color: var(--text-primary);
}

.empty-chat-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 3rem;

  background-image: radial-gradient(circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      #cf50f2,
      #553b7a);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}