node_modules
.git
.gitignore
README.md
.env
.husky
test/
.github/
commitlint.config.js
.client_secret_6035557284-5edobgt8mt4qkdgcee8heo1mmpechp20.apps.googleusercontent.com.json
src/modules/calendar/storage/tokens-*.json