.ProjectCard {
  width: 220px; 
  border-radius: 14px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  font-family: Arial, sans-serif;
  text-align: left;
  flex-shrink: 0;
}

.ColorBox { 
  height: 30px; 
  transition: filter 0.3s ease;
}

.ProjectContent { 
  background-color: #ffffff; 
  padding: 12px 16px; 
}

.ProjectTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #333;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ProjectCard:hover .ColorBox {
  filter: brightness(0.5);
}