
.headerContainer {
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 16px; 
  width: 100%;
  padding: 8px 24px; 
  background-color: var(--bg-primary); 
  border-bottom: none; 
  box-sizing: border-box; 

  transition: all 0.2s ease-in-out;
}

.headerTitle {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  
  background-image: linear-gradient(45deg, var(--text-primary), var(--scrollbar-thumb));

  -webkit-background-clip: text; 
  background-clip: text;

  color: transparent;

}

.Wrapper {
  margin-left: auto; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 5px;
}

.iconButton {
  background: none;
  border: none;
  padding: 4px; 
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out; 
}

.iconImage {
  width: 22px;  
  height: 22px; 
  transition: filter 0.2s ease-in-out; 
}

.invert {
  filter: invert(1);
}

.iconButton:hover {
  opacity: 0.7;
}
