.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-color: #f7f7f9;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box; 
  text-align: left;
  
  transition: all 0.2s ease-in-out;
  
  overflow-x: hidden;
  white-space: nowrap; 
}

.open {
  width: 48vh; 
  padding: 8px 24px 16px 24px;
  text-align: left;
}

.collapsed {
  width: 8vh;  
  padding: 8px 24px 16px 1rem;
  text-align: left; 
}

.toggleButton {
  background: none; 
  border: none; 
  cursor: pointer; 
  text-align: left;
  width: 35px;
  
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 10px; 
  margin: 0;
   
}

.collapsed .toggleButton {
  width: 100%;
  text-align: left;
}

.titleBar {

  background-color: #e6e0f0; 
  color: #4a4063;
  border-radius: 12px;

  font-size: 13px;
  font-weight: 400;
  
  padding: 0px 15px;
  margin-bottom: 20px; 

  white-space: nowrap; 
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  flex: 1; 
  overflow-y: auto;
  padding-right: 8px;

  min-height: 0;
}
