.project-page {
  padding: 5px;
  position: relative; 
  width: 100%;
}
.project-header {
  padding: 32px 16px;
  border-radius: 8px;
  color: white;
  margin-bottom: 16px;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;

  display: flex;
  justify-content: left; 
  align-items: center;
}
.details-toggle-bar {
  background: var(--bg-secondary);
  color: var(--text-primary);
  width: 20%;
  top: 0.5rem; 
  margin: 0;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-weight: bold;
  box-sizing: border-box; 
  transition: border-radius 0.3s ease; 
  
  box-shadow: 0 4px 8px var(--box-shadow-color);
  position: relative;
  z-index: 2; 
}

.details-toggle-bar.collapsed {
  border-radius: 8px;
  margin-bottom: 0; 
  box-shadow: none;
}

.details-toggle-bar.expanded {
  border-radius: 8px 8px 0 0;
  margin-bottom: 0; 
  border-bottom: 3px solid var(--bg-primary); 

  box-shadow: none;
}

.project-body {
  background: var(--bg-secondary);
  width: 20%;
  color: var(--text-primary);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  margin: 0 auto 16px 0;
  
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  font-size: 14px;
}

.project-body.expanded {
  max-height: 500px;
  opacity: 1;
  border-radius: 0 0 8px 8px; 
}

.project-body.collapsed {
  max-height: 0;
  opacity: 0;
  box-shadow: none; 
}

.project-body-content {
  padding: 16px;
}

.project-body a {
  display: inline-block;
  margin-top: 12px;
  color: var(--text-primary);
}